<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>로그인 페이지</title>
</head>

<body>
<div class="wrapper">
  <form id="paymentForm">
    <label for="email">이메일:</label>
    <input type="text" id="email" name="email" required/>
    <br/>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required/>
    <br/>

    <button type="submit">로그인</button>
  </form>
</div>

<script>
  const form = document.getElementById("paymentForm");

  form.addEventListener("submit", function (event) {
    event.preventDefault(); // 기본 폼 제출 방지

    const requestData = {
      email: document.getElementById("email").value,
      password: document.getElementById("password").value
    };

    fetch("/api/auth/form/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(requestData)
    })
    .then(response => {
      console.log(response);
      if (!response.ok) {
        return response.json().then(errorData => {
          console.log(errorData);
          throw new Error(errorData.message);
        });
      }

      const token = response.headers.get("Authorization");
      sessionStorage.setItem('Authorization', token);

      return response.json();
    })
    .then(data => {
      window.location.href = `/api/auctions/main`;
    })
    .catch(error => {
      console.log(error)
      alert(error.message);
    });
  });
</script>
</body>


</html>
