<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>메인 페이지</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th>경매 ID</th>
    <th>경매 제목</th>
    <th>키보드 이름</th>
    <th>현재가</th>
    <th>즉시 구매가</th>
    <th>진행 상태</th>
    <th>낙찰자 이름</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="auction : ${auctions}">
    <td>
      <a th:href="@{/auction_detail.html(auctionId=${auction.auctionId})}"
         th:text="${auction.title}"></a>
    </td>
    <td th:text="${auction.keyboardName}"></td>
    <td th:text="${#numbers.formatInteger(auction.currentPrice, 3, 'COMMA') + '원'}"></td>
    <td th:text="${#numbers.formatInteger(auction.immediatePurchasePrice, 3, 'COMMA') + '원'}"></td>
    <td th:text="${auction.auctionStatus}"></td>
    <td th:text="${auction.winnerName != null ? auction.winnerName : '-'}"></td>
  </tr>
  </tbody>
</table>

<div>
  <label for="amount">충전 금액:</label>
  <input type="text" id="amount" name="amount" required/>
  <br/>
  <button id="payment">경매 포인트 충전하기</button>
</div>

<script src="/token_verify.js"></script>
<script>
  const amountInput = document.getElementById("amount");
  const button = document.getElementById("payment");

  function formatAmount(value) {
    // 숫자 외의 문자는 제거
    let formattedValue = value.replace(/[^\d]/g, '');

    if (formattedValue) {
      return Number(formattedValue).toLocaleString();
    }
    return '';
  }

  amountInput.addEventListener("input", function () {
    let value = amountInput.value;
    value = formatAmount(value);

    // 값이 "0"만 입력된 경우 입력을 방지
    if (value === '0') {
      value = '';
    }

    amountInput.value = value;
  });

  button.addEventListener("click", function () {
    const amount = amountInput.value.replace(/[^\d]/g, '');

    if (!amount || amount <= 0) {
      alert("충전 금액을 입력하세요.");
      return;
    }

    window.location.href = `/payment_process.html?amount=` + amount;
  });
</script>
</body>
</html>