<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="/tab_icon.png" sizes="16x16"/>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>경매 포인트 충전 페이지</title>
  <!-- 토스페이먼츠 SDK 추가 -->
  <script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<body>
<!-- 주문서 영역 -->
<div class="wrapper">
  <div class="box_section"
       style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px">
    <!-- 결제 UI -->
    <div id="payment-method"></div>
    <!-- 이용약관 UI -->
    <div id="agreement"></div>
    <!-- 결제하기 버튼 -->
    <div class="result wrapper">
      <button class="button" id="payment-button" style="margin-top: 30px">
        결제하기
      </button>
    </div>
  </div>
</div>

<script src="/token_verify.js"></script>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const paymentAmountStr = urlParams.get("amount");
  const paymentAmount = parseInt(paymentAmountStr, 10);

  main();

  async function main() {
    const button = document.getElementById("payment-button");
    const amount = {
      currency: "KRW",
      value: paymentAmount,
    };

    // ------  결제위젯 초기화 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#토스페이먼츠-초기화
    const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const customerKey = generateRandomString();
    const tossPayments = TossPayments(clientKey);
    const widgets = tossPayments.widgets({
      customerKey,
    });

    // ------  주문서의 결제 금액 설정 ------
    await widgets.setAmount(amount);

    // ------  결제 UI 렌더링 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#widgetsrenderpaymentmethods
    await widgets.renderPaymentMethods({
      selector: "#payment-method",
      variantKey: "DEFAULT",
    });

    // ------  이용약관 UI 렌더링 ------
    await widgets.renderAgreement({selector: "#agreement", variantKey: "AGREEMENT"});

    // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
    // @docs https://docs.tosspayments.com/sdk/v2/js#widgetsrequestpayment
    button.addEventListener("click", async function () {
      const token = sessionStorage.getItem("Authorization");
      const orderId = generateRandomString();

      await fetch("/api/payment/temp", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Authorization": token
        },
        body: JSON.stringify({orderId, paymentAmount}),
      })
      .then(response => {
        if (!response.ok) {
          return response.json().then(errorData => {
            console.log(errorData);
            throw new Error(errorData.message);
          });
        }
      })
      .catch(error => {
        console.log(error);
        alert(error.message);
      });

      await widgets.requestPayment({
        orderId: orderId,
        orderName: "경매 참여 포인트",
        successUrl: window.location.origin + "/payment_success.html",
        failUrl: window.location.origin + "/payment_fail.html",
      });
    });
  }

  function generateRandomString() {
    return window.btoa(Math.random()).slice(0, 20);
  }
</script>
</body>
</html>
