<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>결제용 로그인 창</title>
</head>

<body>
<div class="wrapper">
  <form id="paymentForm">
    <label for="email">이메일:</label>
    <input type="text" id="email" name="email" required/>
    <br/>

    <label for="password">비밀번호:</label>
    <input type="password" id="password" name="password" required/>
    <br/>

    <label for="amount">결제 금액:</label>
    <input type="number" id="amount" name="amount" required/>
    <br/>

    <button type="submit">결제하기</button>
  </form>
</div>
</body>

<script>
  const form = document.getElementById("paymentForm");

  form.addEventListener("submit", function (event) {
    event.preventDefault(); // 기본 폼 제출 방지

    const requestData = {
      email: document.getElementById("email").value,
      password: document.getElementById("password").value,
      amount: document.getElementById("amount").value
    };

    fetch("/api/auth/payment", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify(requestData),
      credentials: "include"
    })
    .then(response => {
      console.log(response);
      if (!response.ok) {
        return response.json().then(errorData => {
          console.log(errorData);
          throw new Error(errorData.message);
        });
      }
      return response.json();
    })
    .then(data => {
      window.location.href = `/api/payment/process?amount=${data.data.amount}`;
    })
    .catch(error => {
      console.log(error)
      alert(error.message);
    });
  });
</script>
</html>
