<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>경매 포인트 구매 성공</title>
</head>

<body>
<div class="box_section" style="width: 600px">
  <img width="100px" src="https://static.toss.im/illusts/check-blue-spot-ending-frame.png"/>
  <h2>결제를 완료했어요</h2>

  <div class="p-grid typography--p" style="margin-top: 50px">
    <div class="p-grid-col text--left"><b>결제금액</b></div>
    <div class="p-grid-col text--right" id="amount"></div>
  </div>
  <div class="p-grid typography--p" style="margin-top: 10px">
    <div class="p-grid-col text--left"><b>주문번호</b></div>
    <div class="p-grid-col text--right" id="orderId"></div>
  </div>
  <div class="p-grid typography--p" style="margin-top: 10px">
    <div class="p-grid-col text--left"><b>paymentKey</b></div>
    <div class="p-grid-col text--right" id="paymentKey"
         style="white-space: initial; width: 250px"></div>
  </div>
</div>

<div id="countdown"></div>

<script src="/token_verify.js"></script>
<script>
  const urlParams = new URLSearchParams(window.location.search);

  async function confirm() {
    const token = sessionStorage.getItem("Authorization");
    const requestData = {
      paymentKey: urlParams.get("paymentKey"),
      orderId: urlParams.get("orderId"),
      amount: urlParams.get("amount"),
    };

    const response = await fetch("/api/payment/confirm", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "Authorization": token
      },
      body: JSON.stringify(requestData),
    });

    const json = await response.json();

    if (!response.ok) {
      console.log(json);
      window.location.href = `/payment_fail.html?status=${json.status}&message=${json.message}&code=${json.code}`;
    }

    // TODO: 결제 성공 비즈니스 로직을 구현하세요.
    console.log(json);
    return json;
  }

  confirm().then(function () {
    let countdown = 5;
    const countdownElement = document.getElementById("countdown");
    countdownElement.textContent = `5초 뒤에 메인 페이지로 이동합니다.`;

    const countdownInterval = setInterval(function () {
      countdown--;
      countdownElement.textContent = `${countdown}초 뒤에 메인 페이지로 이동합니다.`;

      if (countdown <= 0) {
        clearInterval(countdownInterval);
        window.location.href = "/api/auctions/main";
      }
    }, 1000);
  });

  const paymentKeyElement = document.getElementById("paymentKey");
  const orderIdElement = document.getElementById("orderId");
  const amountElement = document.getElementById("amount");

  orderIdElement.textContent = urlParams.get("orderId");
  amountElement.textContent = urlParams.get("amount") + "원";
  paymentKeyElement.textContent = urlParams.get("paymentKey");
</script>
</body>
</html>
